name: Go CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.23', '1.24']

    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
        cache: true

    - name: Check out code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: go mod download

    - name: Build All
      run: go build -v ./...

    - name: Run Tests
      run: go test -v -race -coverprofile=coverage.txt -covermode=atomic ./...